body{
    text-align:center;
    background-image: url('../Images/back.png');
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }
      
h1{
    text-align:center;
    font-family: 'Bangers', cursive;

}
h2,
h3,
h4,
h5{ 
   font-family: 'Lobster', cursive;
}
#options{
    padding-top: 4px;
    padding-left:8px;
    border-radius: 10px;
    text-align:start;
    padding-bottom: 14px;
}
#con{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
#fo{
    
    color: black;
   
}
#logo{
    margin-left:38% !important;
}